/* ESTILOS GENERALES */

@font-face {
  font-family: Bebas;
  src: url(/wp-content/themes/banana/assets/fonts/Bebas-Regular.otf);
} 

@font-face {
  font-family: Din;
  src: url(/wp-content/themes/banana/assets/fonts/DIN-Bold.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(/wp-content/themes/banana/assets/fonts/OpenSans-Bold.ttf);
} 

@font-face {
  font-family: OpenSans;
  src: url(/wp-content/themes/banana/assets/fonts/OpenSans-Regular.ttf);
} 


@font-face {
  font-family: OpenSansExtraBold;
  src: url(/wp-content/themes/banana/assets/fonts/OpenSans-ExtraBold.ttf);
} 



body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: OpenSans;
  background-color: rgb(230, 219, 82);
  scroll-behavior: smooth;
}


html {
	scroll-behavior: smooth;
	font-size: 14px;
}

a {

	color: #d182aa;
}

a:hover {
	color: #f2e651;
}

.nav-banana {
  color: #d182aa !important;
}

.bg-amarillo-banana {

  background-color: yellow;
    height: 90px;
    color: white;
    padding: 15px 0;
}

.bg-amarillo-banana.scrolled {
  background-color: yellow !important;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
	z-index: 1;
	-webkit-box-shadow: 1px 6px 5px -2px rgba(0,0,0,0.23);
-moz-box-shadow: 1px 6px 5px -2px rgba(0,0,0,0.23);
box-shadow: 1px 6px 5px -2px rgba(0,0,0,0.23);
}

.nav-banana .navbar-brand  {

  color: rgb(209, 130, 170) !important;

 }
.nav-banana .navbar-nav .nav-link {

  color: #f58cba;
    font-family: Bebas;
    font-size: 1.4em;
    margin-right: 10px;
  }

.nav-banana .navbar-nav .nav-link.active {

color: #d182aa;
}

.nav-banana .navbar-nav .nav-link:hover {

	color: #1ab1cf;
	}



#menu-menu-principal {

	margin: 0 20px 0 0;
}



.bananaSesionesSingle {

	background-image: url('/recursos/BANANA/ojosbanana.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: white;
	position: relative;
}

.bananaSesionesSingle:before {

	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#f5e947,#d182aa);
    opacity: .85; 
}


.bananaEventosSingle {

	background-image: url('/recursos/BANANA/ojosbanana.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: white;
	position: relative;
}

.bananaEventosSingle a {

	color: #e6db52;

}

.bananaEventosSingle a:hover {

	color: #d182aa;
	
}

.bananaEventosSingle:before {

	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#f5e947,#4daad1);
opacity: .85;
}






.tituloSesionSingle {
	display: flex;
}
.tituloSesionSingle h3 {
	color: #d182aa;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: right;
    font-size: 3em;
}


.nav-logo-banana {

	margin: 0 0 0 20px;

}

.imagenDestSesion {
	object-fit: cover;
  width: 100%;
  height: 400px;
  object-position: center top;
}

#banner-principal-cabecera{
  margin-top: 15px;
}
/*** FRONT PAGE ***/

/* SESIONES BANANA */




.titulo-seccion-amarillo-grande {

  background-color: yellow;
    min-height: 140px;
    color: #d182aa;
    padding: 10px;

}
.titulo-seccion-amarillo-grande h2 {

font-family: Bebas;
font-weight: 800;
font-size: 6em;

}


.extracto-sesion-grande {
  /*background-image: url('https://via.placeholder.com/400x200.png');*/ 
  background-position: center;
  background-size: cover;
  min-height: 200px;
  color: white;
  border-bottom: 1px solid rgba(254, 238, 119, 1);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  transition: 1s;
}

.extracto-sesion-texto {

  position: absolute;
  bottom: 0;
}

.extracto-sesion-texto p, h3 {

  margin: 0 auto;
  font-family: Din;
  text-transform: uppercase;
}

.extracto-sesion-texto h3 {
  color:#ffff02;
}

.extracto-sesion-texto p {

    color: white;
    line-height: 15px;

}




.extracto-sesion-grande > .extracto-sesion-texto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  transition: 1s;
  padding: 10px;


}

.extracto-sesion-medio {
  /*background-image: url('https://via.placeholder.com/400x200.png');*/
  background-color: crimson;
  background-position: center;
  background-size: cover;
  min-height: 198px;
  color: white;
  border-bottom: 1px solid rgba(254, 238, 119, 1);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  transition: 1s;
}

.extracto-sesion-medio > .extracto-sesion-texto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  transition: 1s;
  padding: 10px;
  
  
  }

.extracto-sesion-chico {
    /*background-image: url('https://via.placeholder.com/400x200.png');*/
    background-position: center;
    background-size: cover;
    min-height: 200px;
    color: white;
    border-right: 1px solid rgba(254, 238, 119, 1);
    border-top: 1px solid rgba(254, 238, 119, 1);
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    transition: 3s;
    
  }
.extracto-sesion-chico:hover{
  
  
  
}

.extracto-sesion-chico .overlayblack:hover {

  background-color: rgba(0, 0, 0, 0.57);
}

.extracto-sesion-chico .extracto-sesion-texto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  transition: 1s;
  padding: 10px;
  font-size: 0.8em;
    
}

.extracto-sesion-chico .extracto-sesion-texto:hover {
}

.extracto-sesion-chico .extracto-sesion-texto h3 {

  font-size: 1.4em;

}

.extracto-sesion-texto a {

  color: #ff0089;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.bajotexto {
  position: absolute;
  left: 0;
  bottom: 0; 
  height: 80%;
  width: 100%;
  z-index: 2;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+48&0+0,0.65+48 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 48%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 48%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 48%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  

}

.extracto-sesion-grande > .bajotexto {
 
  height: 24%;

}


.overlayblack {

  position: absolute;
  left: 0;
  top: 0; 
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 1s;
}
.overlayblack:hover {
  background-color: rgba(0, 0, 0, 0.57);
}

/** EVENTOS BANANA **/
#bananaEventos {
  background-color: #bed5e4;
}
.titulo-seccion-cian-grande {

  background-color: #269ccc;
    min-height: 140px;
    color: #fc97cb;
    padding: 10px;

}

.titulo-seccion-cian-grande h2 {
  font-family: Bebas;
  font-weight: 800;
  font-size: 6em;
  
}

.ficha-evento {

	border-radius: 3px;
    color: #ffffff;
    position: relative;
    min-height: 280px;
}

.texto-ficha-evento {

	background-color: #00a9c3fa;
	padding: 15px 10px 0px 10px;
	border-radius: 5px;
	box-sizing: border-box;
	min-height: 135px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	transition: 1s;
}
.texto-ficha-evento:hover {

  background-color: #fb69b4ed;

}

.imagen-noticia{
	height: 180px;
	margin: 5px 0 5px 0;
	border-radius: 3px;
	position: relative;
}

.imagen-evento{
    height: 280px;
    margin: 5px 0 5px 0;
    border-radius: 3px;
    position: relative;
}

.imagen-evento:hover {
  
}

.imagen-evento img {
  object-fit: cover;
  margin: 5px 0 15px 0;
  border-radius: 3px;
}

.ficha-evento h4 {
  font-size: 1em;
  margin: 5px 0;
  color: #ffff02;
}

.ficha-evento h5 {
  font-size: 0.99em;
  line-height: 0.8em;
}

.ficha-evento ul {

  padding: 0;
  margin: 0;
}

.ficha-evento ul li {

  display: inline-block;
}

.ficha-evento p {

  margin: 0;
    font-size: 0.79em;
    line-height: 16px;

}

.ficha-evento a {

  margin: 10px 0;
  color: #ffff02;
  font-size: 0.9em;
}


/** NOTICIAS BANANA **/

#bananaNoticias {
 background-color: #fbdaea;
 overflow: hidden;
 margin: 15px 0;
}

#bananaNoticias a {

	color:#f2e651;
}

#bananaNoticias a:hover {

	color:#d182aa;
}


.titulo-seccion-purpura-grande {

	background-color: #60009c;
	min-height: 140px;
	color: #fbd9ea;
	padding: 10px;

}

.titulo-seccion-purpura-grande h2 {
  font-family: Bebas;
  font-weight: 800;
  font-size: 6em;
  
}

.ficha-noticia-grande {

	position: relative;
	min-height: 240px;
	color: white;
	border-bottom: 1px solid rgba(254, 238, 119, 1);
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	transition: 1s;
	border: 1px solid #fbd9ea;
}

.texto-noticia-grande {

	width: 100%;
	position: absolute;
	background-color: #60009cc9;
	bottom: 0;
	left: 0;
	padding: 5px;
	min-height: 145px;
}

.ficha-noticias {

	background-color: #60009c;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #fbd9ea;
	max-height: 410px;

}

#bananaNoticias h3 {

	font-size: 1.1em;
	margin: 15px 0 0 0;
	font-family: OpenSansExtraBold;
	color: #ffff02;

}

#bananaNoticias p {

	font-size: 0.90rem;
	margin: 15px 0 0 0;
	font-family: OpenSans;
	color: #fbd9ea;
	line-height: 1.4em;

}



.noticias-single {

	background-image: url('/recursos/BANANA/ojosbanana.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: white;
	position: relative;
	margin: 20px 0;
	padding: 40px;
}

.noticias-single:before {

	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#f5e947,#d182aa);
    opacity: .85; 
}

/** BANDAS **/

.ficha-banda {

	position: relative;
	min-height: 240px;
	color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	transition: 1s;
	border: 1px solid #e6db52;
}

.texto-banda {

	width: 100%;
	position: absolute;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(68, 2, 80) 100%);
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	min-height: 65px;
	
}
.texto-banda h3 {
	color: #ffff02;
  margin-bottom: -20px;
}
.texto-banda p {

	font-size: 0.9em;
	line-height: 14px;
	font-family: OpenSans;

}

.texto-banda a {
	text-decoration: none;
}

/** API LAST FM **/
.last {
	color: #ffffff;
	font-family: OpenSans;
	height: 250px;
	margin: 5px 0 30px 0;
	padding: 60px 15px;
	border-radius: 2px;
	background-image: linear-gradient(to bottom,#f5e94700,#f189b9);
	opacity: 0.99;
}

.last h2 {

	font-family: OpenSansBold;
    font-weight: 300;
    font-size: 3vw;
    padding: 20px 0;
    text-transform: uppercase;
    color: #ffffff;
}

/** NOSOTROS **/
#bananaNosotros {

	background-image: url('/recursos/BANANA/ojosbanana.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: white;
	position: relative;
}

#bananaNosotros:before {

	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#f5e947,#d182aa);
    opacity: .85; 
}

.titulo-seccion-amarillo-dark-grande {

	background-color: #f2e651;
	min-height: 140px;
	color: #d182aa;
	padding: 10px;
	
	}
	.titulo-seccion-amarillo-dark-grande h2 {

		font-family: Bebas;
		font-weight: 800;
		font-size: 6em;
		
		}
.texto-noticia-chica {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	background-image: linear-gradient(to bottom,#60019c00,#4d017d);
	opacity: 0.99;
	height: 85px;
	padding: 15px 11px;
}
/** SLIDER **/


h2{
		font-weight: 300;
		font-size: 3vw;
		padding: 20px 0;
	}
	p{
		font-size: 1.2vw;
		line-height: 1.7em;
	}
	.slider{
		position: relative;
		width: 100%;
		overflow: hidden;
		transition: all .3s;
		perspective: 900px;
		transform-style: preserve-3d;
	}
	.slider .previous, .slider .next{
		font-family: "fontAwesome";
		font-size: 20px;
		position: absolute;
		top: 50%;
		color: white;
		padding: 20px;
		text-decoration: none;
		left: -100px;
		margin-top: -34px;
		transition: all .3s;
		opacity: 0;
		z-index: 10000;
	}
	.slider .next{
		right: -100px;
		content: "\f054";
		left: auto;
	}
	.slider:hover .previous, .slider:hover .next{
		opacity: 1;
	}
	.slider:hover .previous{
		left: 0;
	}
	.slider:hover .next{
		right: 0;
	}
	.slider .slides{
		height: 100%;
	}
	.slide{
		padding: 10%;
		width: 100vw;
		text-align: center;
		position: absolute;
		transform: scale(0.5,0.5);
		opacity: 0;
		transition: all .3s;
	}

	.slide.ev_slide{
    /*background: #1E73BE;*/
    background-image: url('/recursos/BANANA/banana-ev.jpeg');
		color: white;
		font-family: OpenSansBold;
		background-size: cover;
		background-position: center top;
	}

	.slide.ms_slide{
		/*background: #ccc;*/
		background-image: url('/recursos/BANANA/MADRESELVAS.png');
		color: white;
		font-family: OpenSansBold;
		background-size: cover;
		background-position: center top;
	}
	.slide.ns_slide{
		/*background: #BF525A;*/
		background-image: url('/recursos/BANANA/banana_ninos_simios.jpg');
		color: white;
		font-family: OpenSansBold;
		background-size: cover;
		background-position: center top;
	}
	.slide.active{
		z-index: 10;
		left: 0;
		opacity: 1;
		transform: scale(1,1);
	}

	.slide.inactiveLeft{
		left: -100vw;
		z-index: 11;
	}
	.slide.inactiveRight{
		left: 100vw;
		z-index: 11;
	}
  .slide:after{
    content: attr(data-icon);
    font-family: "fontAwesome";
    font-size: 15vw;
    position: absolute;
    bottom: -8vw;
    left: 0;
    opacity: 0.3;
  }
	.slide a{
		color: inherit;
		border: 2px solid;
		padding: 10px;
		font-size: 1.3vw;
		margin-top: 20px;
		display: inline-block;
		transition: all .3s;
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
	}
	.slide a:hover{
		background: rgba(255, 255, 255, 0.2);
		border: 2px solid transparent;
		text-decoration: none;
		letter-spacing: 2px;
		padding-right: 30px;
	}
	.slide a:after{
		content: " \f105";
		font-family: "fontAwesome";
		position: absolute;
		margin-left: -10px;
		transition: all .3s;
		opacity: 0;
	}
	.slide a:hover:after{
		margin-left: 10px;
		opacity: 1;
	}
	.slider .bullets{
		text-align: center;
		position: absolute;
		bottom: 10px;
		width: 100%;
	}
	.slider .bullets .bullet{
		position: relative;
		display: inline-block;
		background: rgba(255,255,255,.8);
		border-radius: 50%;
		width: 8px;
		height: 8px;
		z-index: 14;
		margin: 0 5px;
		cursor: pointer;
		border: 2px solid transparent;
		transition: all .3s;
	}
	.slider .bullets .bullet.active{
		background: rgba(255,255,255,.4);
	}
	.slider .bullets .bullet:hover{
		border: 2px solid rgba(255,255,255,.8);
		background: transparent;
  }
	

/** FOOTER **/

footer {
	background-color: #ffff02;
  border-top: 10px solid #ffec02;
	color: #d182aa;
	-webkit-box-shadow: 6px 6px 10px 10px rgba(0,0,0,0.23);
	-moz-box-shadow: 6px 6px 10px 10px rgba(0,0,0,0.23);
	box-shadow: 6px 6px 10px 10px rgba(0,0,0,0.23);
}

footer .iconos-sociales ul li {

	display: inline-block;
	font-size: 3em;
	margin-right: 10px;
	color: #e6db52;

}

footer .iconos-sociales ul li:hover{
	color: #f58cba;
}
.iconos-sociales ul {

	padding: 0;
}

#menu-menu-footer{
	color: #f58cba;
    font-family: Bebas;
}

#menu-menu-footer a{
	color: #f58cba;
	font-family: Bebas;
	font-size: 1.5em;
	line-height: 17px;
}
#menu-menu-footer a:hover {
color: #1ab1cf;

}




/** MERCH **/
#bananaMerch {

	background-image: linear-gradient(to bottom,#f5e947,#d182aa);
    opacity: 1;
}

#bananaMerch h2 {
	font-family: Bebas;
	color: #d182aa;
	font-size: 6em;
margin: 0 auto;
text-align: center;

}

#bananaMerch h4 {
	font-family: Bebas;
	color: #d182aa;
	font-size: 2em;
	margin: 0 auto;
text-align: center;

}


.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}
@media (max-width: 992px){

	#menu-menu-principal {
    margin: 0 0px 0 0;
    background-color: #ffff02;
    padding: 20px;
}
	
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}
